/* LOKASI: src/assets/main.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pastikan elemen HTML memiliki margin/padding 0 dan menggunakan border-box */
html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
